.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $fuksia;
}

.button--post {
  color: $fuksia;
  border: 3px solid $fuksia;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 110px;
  margin-bottom: 12px;
}

.button--cancel {
  color: $dark-grey;
  opacity: 0.1;
  border: 3px solid $dark-grey;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 123px;
  margin-bottom: 12px;
}

.main-nav__cancel {
  outline: 5px solid red;
  outline-offset: -5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 90px;
  padding: 10px;
}

@media (min-width: $desktop-width) {
  .main-nav__cancel {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__cancel {
    margin-top: 43px;
  }
}

.presentation__button {
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 20px 40px;
  color: $white;
  width: 280px;
  height: 55px;
}

@media (min-width: $tablet-width) {
  .presentation__button {
    max-width: 300px;
  }
}

.button--post-photo {
  border: 3px solid #D22856;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px 90px;
  margin-bottom: 12px;
}
