.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $fuksia;
}

.button-post {
  color: $fuksia;
  border: 3px solid $fuksia;
  box-sizing: border-box;
  border-radius: 30px;
}

.button--cancel {
  color: $dark-grey;
  opacity: 0.1;
  border: 3px solid $dark-grey;
  box-sizing: border-box;
  border-radius: 30px;
}

.main-nav__cancel {
  outline: 5px solid red;
    outline-offset: -5px;
    margin-top: 10px;
   margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
}
@media (min-width: $desktop-width) {
  .main-nav__cancel {
  display: none;
}
}
@media (min-width: $tablet-width) {
  .main-nav__cancel {
  margin-top: 43px;
}
}

.presentation__button {
  border: 3px solid $white;
box-sizing: border-box;
border-radius: 29px;
padding: 20px 40px;
}