
.footer {
  display: flex;
  flex-direction: column;
  background-color: $white;
  outline: 2px solid red;
  
}
.page-footer {
  height: 284px;
}

.footer__wraper {
  margin: 0 auto;
  padding: 40px, 85px;
  outline: 3px solid $red;
}
.footer__developer {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  outline: 2px solid yellow;
}
@media (min-width: $tablet-width) {
  .page-footer {
  height: 127px;
}
}
@media (min-width: $desktop-width) {
  .page-footer {
  height: 197px;
}
}

.footer__logo {
  margin-left: 88px;
}
.footer__social-icons {
  margin-left: 77px;
}
.footer__developer {
  margin-left: 95px;
}
.footer__logo__image {
  margin-top: 40px;
}