.form {
  margin-left: 20px;
  margin-right: 20px;
  background-color: $white;
  color: $dark-grey
}

.form-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.form__form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $fuksia;
}

.form__form__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form__fieldset {
  color: $dark-grey;
}

.form__title-group {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $fuksia;
}

.check-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form__form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $fuksia;
}

.form__form__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form__fieldset {
  background-color: $light-grey;
}
