.form {
  margin-left: 20px;
  margin-right: 20px;
  background-color: $white;
  color: $dark-grey
}

.form__container {
  background: url(../../img/back-mobile.jpg);
  height: 170px;
}

.form__container__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.form__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.form__form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $fuksia;
}

.form__form__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form__fieldset {
  color: $dark-grey;
}

.form__title-group {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $fuksia;
}

.check-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form__form-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $fuksia;
}

.form__form__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.form__fieldset {
  background-color: $light-grey;
}
@media (min-width: $tablet-width) {
  .form__container {
  height: 250px;
}
}
@media (min-width: $desktop-width) {
  .form__container {
  height: 280px;
}
}
@media (min-width: $tablet-width) {
  .form__container__title {
  font-size: 50px;
  line-height: 68px;
}
}
@media (min-width: $desktop-width) {
  .form__container__title {
  font-size: 50px;
  line-height: 68px;
}
}