.main-nav {
    box-shadow: inset 0px 0px 1px #000000;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 178%;
    text-transform: uppercase;
    color: $white;
    list-style: none;
    outline: 5px solid rgba(255, 0, 0, 0.8);;
  outline-offset: -3px; 
  }
  
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav__list__link {
    outline: 5px solid green;
    outline-offset: -5px;
    color: $white;
    display: block;
    padding: 25px 0;
    text-align: center;
  } 
  @media (min-width: $desktop-width) {
    .main-nav__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 680px;
      margin: 0 auto;
    }
  }
  .main-nav-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    width: auto;
    margin-bottom: 5px;
    list-style: none;
  }
  
    .main-nav__wrapper {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;;
      outline: 5px solid rgba(0, 255, 0, 0.3);
      outline-offset: -5px;
    }
    
 .main-nav__toggle {
  outline: 5px solid red;
  outline-offset: -5px;
 }
 @media (min-width: $tablet-width) {
  .main-nav {
    height: 365px;
  }
}



@media (min-width: $desktop-width) {
.main-nav__list__link {
display: block;
justify-content: space-between;
height: 100%;
}
}
.main-nav__photo {
  display: none;
}