$white: #FFFFFF;
$grey: #1D2631;
$light-grey: #F2F2F2;
$dark-grey: #283645;
$fuksia:#D22856;
$black: #000;

.page-main {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $white;
  outline: 3px solid $black;
}

.page__photo {
  background-image: url(../../img/back-mobile.jpg);
  outline: 1px solid #000;
}

.page-photo__title {
  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  color: $white;
}

.post-photo__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-grey;
}

