.presentation {
  display: block;
  align-items: center;
  background-color: $dark-grey;
  padding: 20px;
  background-image: url(../img/bg-back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 400px;
}

@media (min-width: $tablet-width) {
  .presentation {
    background-image: url(../../img/bg-back-tablet.jpg);
    background-repeat: no-repeat;
  }
  }
  
.presentation__header {
    padding: 20px;
    outline: 2px solid red;
  }
  .presentation__header__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 300px;
    color: $white;
    text-align: center;
  }
  @media (min-width: $tablet-width) {
    .presentation__header__title {
      margin-bottom: 30px; 
      text-align: start;
    }
  }
  .presentation__button {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    outline: 2px solid green;
  }
  .presentation__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    outline: 2px solid blue;
    margin-bottom: 20px;
    color: $white;
  }
  
  .presentation__header {
    margin: 0;
    position: relative;
  }
  @media (min-width: $desktop-width) {
    .presentation {
    padding: 0 20px;
  }
}

@media (min-width: $tablet-width) {
  .presentation {
  margin: 0 auto;
  min-height: 650px;
  
}
}
@media (min-width: $desktop-width) {
  .presentation {
  margin: 0 auto;
  min-height: 960px;
}
}
.presentation__icons {
  outline: 2px solid violet;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-left: 60px;
}
@media (min-width: $tablet-width) {
  .presentation__icons {
    justify-content: start;
  }
}
.presentation__header::before {
  content: "";
  display: block;
  width: 320px;
  height: 286px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../../img/iphone-hand-mobile.png);
  background-repeat: no-repeat;
}
.presentation-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-grey;
  outline: 2px solid yellow;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

@media (min-width: $tablet-width) {
 .presentation-wraper {
   text-align: start;
 }
}