.social_link_image {
  margin-right: 20px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social_link {
  width: 48px;
  height: 48px;
}
.social__image-twitter {
  width: 18px;
  height: 14px;
}
.social__image-facebook {
  width: 9px;
  height: 18px;
}
.social__image-youtube {
  width: 15px;
  height: 13px;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 30px;
  }
}